@media (max-width: 1300px) and (min-width: 992px) {
    .header .logo img {
        left: 400px;
    }
}

/* Tablet ve küçük ekranlar için */
@media (max-width: 991px) and (min-width: 768px) {
    .header .logo img {
        left: 285px;
    }


}

/* Küçük ekranlar ve mobil cihazlar için */
@media (max-width: 767px) {
    .header .logo img {
        left: 175px;
    }
}

@media (max-width: 500px) {
    .header .logo img {
      left: 85px;
    }
    .trainers-index .member_container .member_row{
        gap: 30px;
    }
}

